<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATNTDL9hf6TR_I4awTcOJKcIEiYydMfrE</string>
	<key>GCM_SENDER_ID</key>
	<string>51020141181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myfinworkout.trn</string>
	<key>PROJECT_ID</key>
	<string>app-79-ace-cash-xpress-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>app-79-ace-cash-xpress-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51020141181:ios:2bada38ab2eafb92215714</string>
</dict>
</plist>